* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Helvetica Neue", "Helvetica N", Helvetica, Arial, sans-serif;
    background-color: white;
    color: darkblue;
    margin: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: chocolate;
}

a:hover,
a:active {
    color: coral;
}

img {
    width: 100%;
}

.page {
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid darkblue;
}

header > div {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

header .logo {
    height: 70px;
    width: auto;
}

section {
    padding: 0 1rem;
}

.release-list {
    display: flex;
    flex-wrap: wrap;
}

.release-item {
    width: 240px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 4px;
    box-shadow: 5px 5px 8px dimgrey;
    padding: 5px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.release-item > div {
    margin-bottom: 0.5rem;
}

.release-item > div:last-child {
    margin-bottom: 0;
}

.release-item .released {
    font-size: smaller;
    text-align: right;
}

.release {
    margin-top: 1rem;
    overflow: auto;
}

.release h2 {
    margin-top: 0;
}

.release > div {
    margin-bottom: 0.5rem;
}

.release > .release-art {
    width: 320px;
    float: left;
    margin-right: 1rem;
}

.media-tracks {
    min-width: 600px;
    margin-bottom: 1rem;
}

.title,
.artist > a {
    font-weight: bold;
}

th {
    text-align: left;
    padding-top: 0.5rem;
}

td {
    vertical-align: top;
    padding-right: .6rem;
}

td.number {
    text-align: right;
}